<!DOCTYPE html>
<html>
<head>
    <title>Домашняя страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>
    <header>
        <h1>Добро пожаловать!</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/login">Мой аккаунт</a></li>
        </ul>
    </nav>
    <main>
        <section>
            <p>пупупупу</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Все права защищены.</p>
    </footer>
</body>
</html>